//navbar
.navbar{
	width: 100%;
	height: 120px;
	display: flex;
	flex-direction: column;
	color: var(--white);
	.top_menu{
		height: 40px;
		display: flex;
		background-color: var(--red-heavy);
		.top_left{
			width: 50%;
			margin:.7rem 8rem;
		}
		.top_right{
			width: 50%;
			ul{
				display: flex;
			    justify-content: center;
			    li{
			    	margin:.7rem 1.5rem;
			    	
			    }
			    li:hover{
			    	cursor: pointer;
			    }
			}
			
		}
	}
	.menu{
		display: flex;
		background-color: var(--red-light);
	    height: 80px;
	    .logo{
	    	width: 33%;
	    	padding-top: .7rem;
	    	span{
	    		font-size: 3rem;
	    		margin-left:8rem;
	    	}
	    	
	    }
	    .search{
	    	width: 33%;
	    	text-align: center;
	    	display: flex;
	    	padding-top: 1.2rem;
	    	.input_search{
	    		width: 75%;
	    		height: 35px;
	    		outline: none;
	    		border-top-left-radius: .1rem;
	    		border-bottom-left-radius: .1rem;
	    		border:none;
	    	}
	    	.btn_search{
	    		height: 37px;
	    		width: 25%;
	    		background-color: var(--black-heavy);
	    		color: var(--white);
	    		border-top-right-radius: .1rem;
	    		border-bottom-right-radius: .1rem;
	    		border:none;
	    	}
	    	.btn_search:hover{
	    		cursor: pointer;
	    	}
	    }
	    .hotline_cart{
	        width: 34%;
	        display: flex;
	        .hotline{
	        	width: 50%;
	        	height: 100%;
	        	display: flex;
	        	justify-content: center;
	        	.btn_phone{
	        		width: 50%;
	        		text-align: center;
	        		.border{
	        			width: 40px;
	        			height: 40px;
	        			border:1px solid var(--white);
		        		border-radius: 100%;
		        		font-size: 2rem;
		        		margin:1rem 5rem;
		        		i{
		        			margin-top: .2rem;
		        		}
	        		}
	        		
	        	}
	        	.info_hotline{
	        		width: 50%;
	        		height: 40px;
	        		margin-top: 1.2rem;
	        		border-right:.1px solid var(--black-light);
	        		h2{
	        			margin-bottom: .5rem;
	        		}
	        		p{
	        			font-weight: bold;
	        		}
	        	}
	        }
	        .Shopping_cart{
	        	width: 50%;
	        	height: 100%;
	        	display: flex;
	        	.border_cart{
	        		width: 40px;
	        		height: 40px;
	        		border:1px solid var(--white);
	        		border-radius: 100%;
	        		text-align: center;
	        		margin:1rem 1rem;
	        		i{
	        			font-size: 1.5rem;
	        			margin-top: .6rem;
	        		}
	        	}
	        	.border_cart:hover{
	        		cursor: pointer;
	        	}
	        	span{
	        		margin:.8rem -.5rem;
	        		font-size: 1.5rem;
	        	}
	        }
	    }
	}
}
//----end navbar----

//main_Container
.main_Container{
	width: 100%;
	display: flex;
	align-items: stretch;
	background-color: var(--gray-light);
	.block_left{
		width: 30%;
		height: auto;
		.cate_Container{
			width: 60%;
			height: auto;
			border:.1px solid var(--gray-heavy);
			margin:1.5rem .5rem;
			float: right;
			.block_title{
				height: 50px;
				background-color: var(--black-light);
				color: var(--white);
				text-align: center;
				border:.1px solid var(--black-light);
				p{
					font-size: 1.5rem;
					margin-top: .7rem;
				}
			}
			.block_content{
				background-color: var(--white);
				.cate{
					display: flex;
					justify-content: space-between;
					border-top:.1px solid var(--black-light);
					p{
						height: 40px;
						margin:1rem auto auto 1.5rem;
					}
					i{
						margin: 1rem 1rem auto auto;
					}
				}
				.cate:hover{
					cursor: pointer;
				}
				
			}
		}
		.pro_Container{
			width: 60%;
			height: auto;
			border:.1px solid var(--gray-heavy);
			margin:.8rem .5rem;
			float: right;
			background-color: var(--white);
			.block_pro_title{
				height: 50px;
				background-color: var(--black-light);
				color: var(--white);
				text-align: center;
				border:.1px solid var(--black-light);
				p{
					font-size: 1.5rem;
					margin-top: .7rem;
				}
			}
			.block_pro_content{
				width: 90%;
				height: 85px;
				border-top:.1px solid var(--black-light);
				margin:0 4.5%;
				.pro{
					display: flex;
					.pro_img{
						width: 25%;
						height: 65px;
						border:.1px solid var(--black-light);
						margin:.5rem .7rem auto 0;
						img{
							width: 100%;
							height: 100%;
						}
						img:hover{
							cursor: pointer;
						}
					}
					.pro_info{
						margin-top: .5rem;
						h2{
							font-size: 1.1rem;
							font-weight: bold;
							margin-bottom: .5rem;
						}
						h2:hover{
							cursor: pointer;
						}
						p{
							//font-size: .5rem;
							color: var(--red-light);
							margin-bottom: .5rem;
							font-weight: bold;
						}
						label{
							font-size: .9rem;
							font-weight: bold;
						}
						label:hover{
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.block_right{
		width: 70%;
		display: flex;
		flex-direction: column;
		.banner{
			width: 83.5%;
			height: 325px;
			float: left;
			margin:1.5rem 1rem;
			.flex-control-nav {
				bottom:1rem !important;
			}
		}
		.poster{
			width: 83.5%;
			height: 150px;
			float: left;
			margin:.7rem 1rem;
			display: flex;
			background-color: var(--white);
			.poster_item{
				width: 20%;
				height: 100%;
				display: flex;
				.item{
					width: 100%;
					height: 100%;
					.poster_img{
						width: 100%;
						height: 50%;
						text-align: center;
						img{
							width: 100%;
							height: 100%;
						}
					}
					.poster_info{
						text-align: center;
						p{
							font-size: 1rem;
							font-weight: bold;
							margin-top: .8rem;
							margin-bottom: .5rem;
						}
						span{
							font-size: .7rem;
						}
					}
				}
				.item:hover{
					cursor: pointer;
				}
				.fence{
					width: 1px;
					height: 80%;
					margin-top: 1rem;
					border-right:2px solid var(--gray-light);
				}
			}
		}
		.hot_pro_block{
			width: 86%;
			height: 300px;
			float: left;
			margin:1.5rem 0rem;
			.hot_pro_title{
				height: 13%;
				p{
					font-size: 1.2rem;
					margin-left: 1rem;
				}
			}
			.hot_pro_content{
				width: 100%;
				height: 87%;
				.item{
					height: 260px;
					outline: none;
					.item_content{
						width: 90%;
						height: 100%;
						margin-left:.6rem;
						margin-right:.6rem;
						background-color: var(--white);
						border-radius: .5rem;
						.item_img{
							width: 100%;
							height: 60%;
							padding-top: 1rem;
							img{
								width: 80%;
								height: 90%;
								margin-left:1.2rem;
							}
						}
						.item_info{
							width: 100%;
							height: 40%;
							margin-left:1rem;
							margin-top: 1.5rem;
							display: flex;
							.info{
								width: 50%;
								p{
									font-size: 1.1rem;
									font-weight: bold;
									margin-bottom: .7rem;
								}
								p:hover{
									cursor: pointer;
								}
							}
							.feeling{
								width: 35%;
								height: 60%;
								display: flex;
								justify-content: space-between;
								.cart{
									width: 30px;
									height: 30px;
									border-radius: 100%;
									text-align: center;
									margin:1rem 0rem;
									background-color: var(--gray-light);
									i{
										margin-top: 9px;
									}
								}
								.cart:hover{
									cursor: pointer;
								}
								.heart{
									width: 30px;
									height: 30px;
									border-radius: 100%;
									text-align: center;
									margin:1rem 0rem;
									background-color: var(--gray-light);
									i{
										margin-top: 9px;
									}
								}
								.heart:hover{
									cursor: pointer;
								}
							}
							
						}
						
					}
					.item_content:hover{
						box-shadow: -1px 0px 5px 5px var(--gray--heavy);
					}
				
					
				}
				.slick-prev {
				    right: 45px;
				    top: -1.5rem !important;
				}

				.slick-next {
				    right: 12px;
				    top: -1.5rem !important;
				}

				.slick-prev, .slick-next {
				    font-size: 0;
				    line-height: 0;
				    position: absolute;
				    top: 50%;
				    display: block;
				    width: 25px;
				    height: 25px;
				    padding: 0;
				    -webkit-transform: translate(0, -50%);
				    -ms-transform: translate(0, -50%);
				    transform: translate(0, -50%);
				    cursor: pointer;
				    border: none;
				    outline: none;
				    color: black !important;
				    background:var(--gray-super_light);
				}

				.slick-prev:before {
				    content: "<";
				   
				}

				.slick-next:before {
				    content: '>';
				}

				.slick-prev:before, .slick-next:before {
				    font-family: 'slick';
				    font-size: 20px;
				    line-height: 1;
				    opacity: .75;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				}

				
			}
		}
		.particular_pro_block{
			width: 86%;
			height: 630px;
			float: left;
			margin:2rem -.5rem -1rem 0;
			.part_pro_title{
				width: 100%;
				height: 7%;
				display: flex;
				p{
					width: 50%;
					font-size: 1.2rem;
					margin-left: 1rem;
				}
				span{
					width: 50%;
					text-align: right;
					margin:.5rem .1rem;

					a{
						text-decoration: none;
						color: var(--blue-light);
					}
				}
				span:hover{
					cursor: pointer;
				}
			}
			.part_pro_content{
				width: 100%;
				height: 83%;
				display: grid;
				align-content: center;
				grid-template-columns: auto auto auto auto;
				grid-gap: 11px;
				padding:11px;
				.part_pro_item{
					width: 93.5%;
					height: 250px;
					border-radius: .5rem;
					background-color: var(--white);

					.item_img{
						width: 100%;
						height: 60%;
						padding-top: 1rem;
						img{
							width: 80%;
							height: 90%;
							margin-left:1.2rem;
						}
					}
					.item_info{
						width: 100%;
						height: 40%;
						margin-left:1rem;
						margin-top: 1.5rem;
						display: flex;
						.info{
								width: 50%;
								p{
									font-size: 1.1rem;
									font-weight: bold;
									margin-bottom: .7rem;
								}
								p:hover{
									cursor: pointer;
								}
							}
							.feeling{
								width: 35%;
								height: 60%;
								display: flex;
								justify-content: space-between;
								.cart{
									width: 30px;
									height: 30px;
									border-radius: 100%;
									text-align: center;
									margin:1rem 0rem;
									background-color: var(--gray-light);
									i{
										margin-top: 9px;
									}
								}
								.cart:hover{
									cursor: pointer;
								}
								.heart{
									width: 30px;
									height: 30px;
									border-radius: 100%;
									text-align: center;
									margin:1rem 0rem;
									background-color: var(--gray-light);
									i{
										margin-top: 9px;
									}
								}
								.heart:hover{
									cursor: pointer;
								}
							}
					}
				}
				.part_pro_item:hover{
					border: .1px solid var(--gray-heavy);
					
				}
			}	
		}
	}
}
//----end main_Container

//footer
.footer{
	width: 100%;
	height: 250px;
	background-color: var(--white);
	display: flex;
	margin-bottom: 0;
	.info_general_block{
		width: 30%;
		height: 100%;
		.general_content{
			width: 70%;
			float: right;
			margin:1rem;
			h2{
				font-size: 1.3rem;
				color: var(--red-light);
				margin-bottom: 1.5rem;
				font-weight: bold;
			}
			p{
				text-align: justify;
				line-height: 1.3;
			}
		}
	}
	.info_address_block{
		width: 20%;
		height: 100%;
		.address_content{
			width: 90%;
			margin:1rem;
			h3{
				font-size: 1.2rem;
				font-weight: bold;
				margin-bottom: 1.5rem;
			}
			.item{
				display: flex;
				margin-bottom: 1rem;
				i{
					margin-right: .5rem;
				}
			}
		}
	}
	.info_policy_block{
		width: 20%;
		height: 100%;
		.policy_content{
			width: 90%;
			margin:1rem;
			h3{
				font-size: 1.2rem;
				font-weight: bold;
				margin-bottom: 1.5rem;
			}
			ul li{
				margin:1rem;
			}
			ul li::before {
				content: "\2022";
				color: red;
				font-weight: bold;
				display: inline-block; 
				width: 1em;
				margin-left: -1em;
			}
		}
	}
	.info_fanpage_block{
		width: 30%;
		height: 100%;
		.fanpage_content{
			width: 70%;
			float: left;
			margin:1rem;
			h3{
				font-size: 1.2rem;
				font-weight: bold;
				margin-bottom: 1.5rem;
			}
		}
	}
}